html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.div {
  padding: .5rem;
  text-align: center;
}

.btn {
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  background-color: #333;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border-width: 3px;
  color: #fff;
  display: inline-block;
}

.btn-subtle {
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  background-color: #ccc;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border-width: 3px;
  color: #fff;
}

.btn-ghost {
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border-width: 3px;
  color: #666;
  border-color: #000;
}

.btn-warning {
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  background-color: #f33;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border-width: 3px;
  color: #fff;
}

.btn-small {
  font-size: .875rem;
  padding: .4em .75em .3em;
  background-color: #333;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border-width: 3px;
  color: #fff;
}


.btn-big {
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  background-color: #333;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border-width: 3px;
  color: #fff;
}
